body {
background-image: url("https://www.reinodejuguetes.com/58072-large_default/poster-hogwarts-50x40-harry-potter.jpg");
background-repeat: no-repeat;
background-size: cover;
text-align: center;
margin-top: 50px;
color: white;
font-size: 25px;
}
